*.swp
configure
configure_aux
config.log
config.status
Makefile
Makefile.in
aclocal.m4
autom4te.cache
*.o
*.a
*.lo
*.la
libtool
.libs
autoconfig.h
autoconfig.h.in
autoconfig.h.in~
config.h
config.h.in
config.h.in~
stamp-h1
.deps
*.gmo
*.po~
stamp-po
POTFILES
m4/*
libdsvdc.pc
tests/vdc_mainloop
tests/vdc_properties
tests/vdc_database
examples/vdc-reference
*.tar.gz
*.pb-c.h
*.pb-c.c

*.log
*.trs
doc

INSTALL
